name: Build
on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read

jobs:
  unit_tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go-version: [ 1.24, 1.25 ]

    name: unit tests (go ${{ matrix.go-version }})
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Fix permissions for cache directories
        run: chmod -R 0755 ~/.cache/go-build ~/go/pkg/mod || true

      - name: Set up cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('go.sum', 'tools/go.sum') }}-${{ matrix.go-version }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install tools
        run: make tools

      - name: Lint source code
        run: make lint

      - name: Run unit tests
        run: make test
